*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(100, 149, 237);
    padding: 50px;
}
.corpo{
    background-color: rgb(30, 144, 255);
}
.footer{
    background-color: rgb(0, 191, 255);
}
.boton{
    position: fixed;
    top: 20px;
    left: 0px;
    padding: 10px 20px;
    background-color: blue;
    color: rgb(244, 248, 251);
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover{
    background: linear-gradient(to right, #4682b4,#87ceeb,#add8e6);
}
.boton:active{
    font-size: 20px;
}